@font-face {
    font-family: 'OpenSans';
    src: url(../../fonts/OpenSans-Regular.ttf);
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'OpenSans';
}

.title {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.question {
    max-width: 500px;
    display: flex;
    justify-content: start;
    padding-top: 20px;
    margin: 0 auto;
}
.question__inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.question__image {
    object-fit: contain;
}

.question__answers {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
}

.question__text-inline {
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.question__text-inline__input {
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 0;
    font-family: 'OpenSans';
    text-align: center;
    border-bottom: 1px solid gray;
}